@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* optional.css */

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #460073;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2e004d;
}

/* optional.css */

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #460073;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2e004d;
}

.customBtn1 {
	background: #a100ff;
  border-radius: 5px;
	padding: 10px 35px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	border: 2px solid #a100ff;
	transition: 1s;
	position: relative;
  transition: ease-in;
}

.customBtn1:hover, .customBtn1:active {
	color: white;
}

.customBtn1:after {
	content: '';
	position: absolute;
	transition: all 0.5s;
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	color: white;
	z-index: 0;
}

.customBtn1:hover:after {
	width: 100%;
	background: #0000005b;
}

